Include /etc/ssh/sshd_config.d/*.conf
AllowAgentForwarding yes

Port 22
PermitRootLogin no
PubkeyAuthentication yes
PasswordAuthentication no
# TODO: as an extra safety measure, can you figure out how to ONLY allow logins to your user?
